<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo</title>
  </head>
  <body>
  <h1>Edit Ninja!</h1>
  <div class="edit">
    <form action='/ninjas/<%=ninja[0]._id%>' method='post'>
      <p>Your Name: <input type='text' name='name'></p>
      <p>Your Age: <input type='number' name='age'></p>
      <p>Number of Weapons: <input type="number" name ="weapon"></p>
      <input type='submit' value='Update Ninja!'>
    </form>
    <a href="/">See all the ninjas!</a>
  </div>
  </body>
</html>
